<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/new}" th:object="${user}">
    <label for="first_name">Введите имя:</label>
    <input type="text" th:field="*{firstName}" id="first_name"/>
    <br/>
    <label for="last_name">Введите фамилию:</label>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <br/>
    <label for="year">Введите год рождения:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <br/>
    <input type="submit" value="Добавить!">
</form>

</body>
</html>