<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Пользователь</title>
</head>
<body>
<p th:text="${user.getFirstName()+', '+user.getLastName()+ ', '+ user.getYear()}">VALUE</p>

<form th:method="GET" th:action="@{/users/edit}">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="submit" value="Изменить"/>
</form>

<form th:method="POST" th:action="@{/users/delete}">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="submit" value="Удалить"/>
</form>
</body>